h1 {
    text-align: center;
  }
  
  #app {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  


  header {

  border-color:#aaa;
  box-sizing:border-box;
  width:100%;  
  }